
body {
    margin: 0;
    font-family: "Lucida Console", fantasy;
    background-color: #ADEFE6;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.terminal {
    margin: auto;
    width: 50%;
    border: 3px
    padding: 10px;
}

table, th, td {
  border: 1px solid black;
}


header {
    background: #3DBDAC;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
    float: left;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none';
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #03362F;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #03362F;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    font-weight: bold;
    width: 100%
}


















